<div class="page-bg"></div>

  <div class="animation-wrapper">
    <div class="particle particle-1"></div>
    <div class="particle particle-2"></div>
    <div class="particle particle-3"></div>
    <div class="particle particle-4"></div>
  </div>

  <nav class="navbar navbar-expand-lg navbar-dark p-2" style="background-color: #020024;">
    <a class="navbar-brand" href="/home" style="font-size: 16px;">Movie Journal</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>


    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Genre
          </a>
          <div id="navbarDropdownMenu" class="dropdown-menu" aria-labelledby="navbarDropdown">
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" onclick="openPage('/topratedmovies');">Top Rated Movies</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" onclick="openPage('/upcomingmovies');">Upcoming movies</a>
        </li>
      </ul>

      <ul class="navbar-right">
         <li class="nav-item dropdown" style="margin-right: 45px;">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
               <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
               Profile
            </a>
            <ul class="dropdown-menu">
               <li><a href="/profile" style="padding-botton: 10px;">My Movie Journal</a></li>
               <li>
                  <a href="/logout">Logout</a></li>
            </ul>
         </li>

      </ul>
    </div>
  </nav>

  <div class="p-2 bd-highlight">
    <div class="container" style="margin-top: 2%;">
      <form action="/searchresults" method="GET">
        <div class="input-group mb-3">
          <input name="search" type="text" class="form-control" placeholder="Movie title" aria-label="Movie title" aria-describedby="button-addon2">
          <button class="btn btn-dark" type="submit">Search Again</button>
        </div>
      </form>
    </div>
  </div>

  <div>
    <h1 class="align-middle neon" style="font-weight: bold; margin: 30px;">Your Search Results</h1>
  </div>

<div class="wrapper">
  <div class="container w-90">
    <div class="row justify-content-center mt-4 mb-3">

      {{#each data}}
        <div class="card m-2">
            <img src="{{this.Poster}}"style="height: 300px;" class="card-img-top img-fluid" alt="...">
            <div class="card-body">
              <p class="card-title"><strong>{{this.Title}}</strong></p>
              <p class="card-text text-left">Year: {{this.Year}}</p>
              <a href="{{imdburl this.imdbID}}">IMDB Profile</a>
            </div>
        </div>
      {{/each}}

    </div>
  </div>
</div>
