.form-control {
  color: #000 !important;
/*  text-transform: uppercase;*/
  text-decoration: none;
  background: #ffffff;
  border: 1px solid #494949 !important;
  display: inline-block;
  transition: all 0.4s ease 0s;
}

/*
.form-control:hover {
  color: #ffffff !important;
  background: #f6b93b;
  border-color: #f6b93b !important;
  transition: all 0.4s ease 0s;
}
*/

.title-movie {
  color: #FFFFFF;
}
.login{
  text-transform: lowercase;
}
