.profile-avatar {
  margin-left: 40%;
}
.profile-name {
  margin-left: 990px;
  margin-top: -90px;
  color: #DEDEDE;
}
.profile-stats {
  margin-left: 990px;
  margin-top: 10px;
}

/* reviews section */
.movie-card {
  width: 130%;
  max-width: 115px;
  margin: 2em;
  border-radius: 20px;
  display: inline-block;
}

.movie-header {
  padding: 0;
  margin: 0;
  height: 167px;
  width: 100%;
  display: block;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.header-icon-container {
  position: relative;
}

.header-icon {
  width: 100%;
  height: 167px;
  line-height: 167px;
  text-align: center;
  vertical-align: middle;
  margin: 0 auto;
  color: #ffffff;
  font-size: 54px;
  text-shadow: 0px 0px 20px #6abcea, 0px 5px 20px #6ABCEA;
  opacity: .85;
}

.user-review {
  margin-left: 130px;
  margin-top: -60px;
  color: #DEDEDE;
}

.movie-card-container{
  width: 200px;
  height: 167px;
}

.card{
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row !important;
  flex-direction: row !important;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}
.card-img-top{
  max-width: 50%;
  height: auto;
}
.card-body{
  width: 180px;
  height: 167px;
}

/*----------------------------------------------------------*/
body, html {
  font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
  color: #999;
  font-size: 15px;

}

form-control {
  color: #000 !important;
  text-transform: uppercase;
  text-decoration: none;
  background: #ffffff;
  border: 1px solid #494949 !important;
  display: inline-block;
  transition: all 0.4s ease 0s;
/*  margin-left: 20px;*/
}

.form-control:hover {
  background: #f6b93b;
  border-color: #f6b93b !important;
  transition: all 0.4s ease 0s;
}

div>#movie-display {
	margin-top: 10px;
	margin-bottom: 10px;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

img {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
}

.forposters {
   width: 100%;
}

button.btnModal{
  background-color: #020024;
  border: #020024;
}

.add-button-container:hover:before {
  opacity: 1;
  position: relative;
  width: 100%;
  max-width: 400px;
}

.btn-add-movie {
  opacity: 0;
  transition: opacity 0.5s ease;
  padding: 0 40px;
  height: 40px;
  line-height: 40px;
  max-width: 260px;
  cursor: pointer;
  z-index: 3;
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #f1f1f1;
  color: black;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  text-align: center;
}
.add-button-container:hover .btn-add-movie {
  opacity: 1;
  background-color: green;
  color: white;
}

.rating {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center
}

.rating>input {
  display: none
}

.rating>label {
  position: relative;
  width: 1em;
  font-size: 6vw;
  color: #FFD600;
  cursor: pointer
}

.rating>label::before {
  content: "\2605";
  position: absolute;
  opacity: 0
}
.rating>label:hover:before,
.rating>label:hover~label:before {
  opacity: 1 !important
}

.rating>input:checked~label:before {
  opacity: 1
}

.rating:hover>input:checked~label:before {
  opacity: 0.4
}

.container {
   position: relative;
}

input {
    color: #000000;
}
