.form-control {
  color: #000 !important;
  text-decoration: none;
  background: #ffffff;
  border: 1px solid #494949 !important;
  display: inline-block;
  transition: all 0.4s ease 0s;
  margin-left: 20px;
}

h1 {
  display: flex;
  justify-content: center;
  font-size: 40px;
}

.neon {
  color: #000;
  text-shadow:
    0 0 5px #fff,
    0 0 10px #fff,
    0 0 20px #fff,
    0 0 40px #0ff,
    0 0 80px #0ff,
    0 0 90px #0ff,
    0 0 100px #0ff,
    0 0 150px #0ff;
}

body, html {
    font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
    color: #999;
    font-size: 15px;
    background-color: #020024;
}

img {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
}

.btn-block {
    margin-top: 10px;
}

button.btnModal{
    background-color: #020024;
    border: #020024;
}

html {
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

div>#movie-display {
	margin-top: 10px;
	margin-bottom: 10px;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}
