<!doctype html>
<html lang="en">

<head>
   <meta charset="utf-8">
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
   <link rel="stylesheet" type="text/css" href="../assets/css/particles.css">
   <link rel="stylesheet" type="text/css" href="../assets/css/profile.css">

   <link rel="icon" href="../assets/images/movieicon.png" type="image/gif">
   <link rel="stylesheet" href="../assets/css/bootstrap/bootstrap.min.css">
   <script src="https://use.fontawesome.com/ca8f7ab770.js"></script>
   <title>Profile</title>
</head>

<body>
   {{{body}}}
</body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://www.gstatic.com/firebasejs/5.2.0/firebase.js"></script>
<script type="text/javascript" src="../assets/js/profile.js"></script>
<script type="text/javascript" src="../assets/js/index.js"></script>
<script type="text/javascript" src="../assets/js/genres.js"></script>
<link rel="stylesheet" href="../assets/css/bootstrap/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="../assets/js/bootstrap/bootstrap.min.js"></script>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://www.gstatic.com/firebasejs/5.2.0/firebase.js"></script>
<script type="text/javascript" src="../assets/js/genres.js"></script>
<link rel="stylesheet" href="../assets/css/bootstrap/bootstrap.min.css">

</html>
