<!DOCTYPE html>
<html>

<head>

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://cdn.datatables.net/1.10.22/css/dataTables.bootstrap5.min.css">
	<link rel="stylesheet" type="text/css" href="../assets/css/particles.css">
  <link rel="stylesheet" type="text/css" href="../assets/css/toprated.css">
	<link rel="icon" href="../images/movieicon.png" type="image" />
  <script src="https://cdn.datatables.net/1.10.22/js/jquery.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.js"></script>
	<script src="https://cdn.datatables.net/1.10.22/js/dataTables.bootstrap5.min.js"></script>
	<script type="text/javascript" src="../assets/js/index.js"></script>
	<script type="text/javascript" src="../assets/js/toprated.js"></script>

</head>

<body>

  {{{body}}}

</body>

</html>
